body {
    background-color: goldenrod;
    color: black;
}
img {
  width: 200px;
}
header {
  display: flex;
}
nav {
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
}
a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
} 