body {
    background-color: goldenrod;
    color: black;
    font-family: RobotoConsensed, Arial, Helvetica, sans-serif;
}
img#logo {
  width: 200px;
}
.t-50 {
  width: 50%;
}
header {
  display: flex;
}
nav {
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
}
a {
  font-family: Urbanist;
  color: black;
  text-decoration: none;
  margin-left: 10px;
} 
@font-face {
  font-family: RobotoCondensed;
  src: url(../Fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
} 
@font-face {
  font-family: Urbanist;
  src: url('../Fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf');
}
article {
  text-align: center;
  /* margin: 32px auto; */
  /* width: 80%; */
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 0 auto;
}
div#slider  {
  background-image: url(../images/1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 160px);
  animation: change1 5s infinite;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes change1 {
     0% {
        background-image: url('../images/1.jpeg');
      }
      25% {
        background-image: url('../images/2.jpeg');
      }
      50% {
        background-image: url('../images/3.webp');
      }
      75% {
        background-image: url('../images/4.jpeg');
      }
      100% {
        background-image: url('../images/5.png');
      }
}
